.rings {
 width: 34rem;
 height: 38rem;
 top: 0rem;
 position: relative;
 right: 0rem;
 /* z-index: 6; */
 overflow: visible;
}

.rings span {
 position: absolute;
 display: block;
 width: 23.94806rem;
 height: 34.47256rem;
 transform: rotate(-40deg);
 border-radius: 90%;
 border: 1px solid #000;
 overflow: visible;
 z-index: -6;
 /* box-sizing: content-box; */
}

.rings span:first-child {
 left: 3rem;
 top: 0rem;
}
.rings span:nth-child(2) {
 left: 1rem;
 top: 1.5rem;
}
.rings span:nth-child(3) {
 left: 5rem;
 top: -1.5rem;
}
